* {
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
    background-color: #e7f1f1;
}
body {
    height: 100%;
    display: flex;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 75%;
    border-right: 5px solid #000000;
    min-width: 950px;
}

h2 {
    font-size: 2.3rem;
    margin: 0 0 30px 0;
}

header {
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
}

.save-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 25%;
    margin-top: 35px;
    min-width: 350px;
}

button {
    
    background-color: #000000;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: x-large;
    font-weight: 200;
    border: none;
    white-space: nowrap;
}

.button-box-l {
    height: auto;
    min-width: 50px;
    background-color: #000000;
    border-bottom-left-radius: 100%;
    margin-left: 100px;
}

.button-box-r {
    height: auto;
    min-width: 50px;
    background-color: #000000;
    border-top-right-radius: 100%;
    margin-right: 100px;
}

.color-container {
    padding: 10px;
}

.color-box {
    position: relative;
    height: 150px;
    width: 150px;
    border: 5px solid;
}

.mini-container {
    display: flex;
    margin-bottom: 25px;
}

.mini-box {
    height: 40px;
    width: 40px;
    border: 4px solid;
    margin: 0 4px;
}

.lock-box {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 30px;
    padding: 8px;
    text-align: center;
}

.lock-box:hover {
    transform: scale(1.3);
}

.hex-code {
    text-align: center;
    font-weight: 400;
    padding-top: 5px;
    font-size: 1.2em;
}

#b1 {
    background-color: #EA9999;
}

#b2 {
    background-color: #FACB9C;
}

#b3 {
    background-color: #FFE59A;
}

#b4 {
    background-color: #B6D7A8;
}

#b5 {
    background-color: #A4C4CA;
}