html {
    height: 100%;
    background-color: #e7f1f1;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

header {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 4rem;
    text-align: center;
}

section {
    display: flex;
    justify-content: center;
}

button {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: x-large;
    font-weight: 200;
    border: none;
}

.button-box-l {
    height: auto;
    width: 50px;
    background-color: #000000;
    border-bottom-left-radius: 100%;
}

.button-box-r {
    height: auto;
    width: 50px;
    background-color: #000000;
    border-top-right-radius: 100%;
}

.color-container {
    padding: 10px;
}

.color-box {
    position: relative;
    height: 150px;
    width: 150px;
    border: solid;
}

.lock-box {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30px;
    width: 30px;
    padding: 8px;
    text-align: center;
}

.lock-box:hover {
    transform: scale(1.3);
}

.hex-code {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 400;
    padding-top: 5px;
    font-size: 1.2em;
}

#b1 {
    background-color: #EA9999;
}

#b2 {
    background-color: #FACB9C;
}

#b3 {
    background-color: #FFE59A;
}

#b4 {
    background-color: #B6D7A8;
}

#b5 {
    background-color: #A4C4CA;
}